
$fontFamily: Calibri;
$backgroundBlue: #00A2E1;
$textWhite: #FFFFFF;
$filterBackgroundColor: #F9F9F9;
$filterColor: #8C8888;
$filterBorderColor: #DEDEDE;
$responsiveWidthMax: 1000px;
$responsiveWidthMobile: 600px;
$fa-font-path: "./font-awesome/webfonts";
