@import './_variables';

@media only screen and (max-width: $responsiveWidthMobile) {
  .flexy-filter {
    flex-direction: column;
    text-align: center;
    div:nth-child(3){
      text-align: center;
    }
  }
  .dropdown {
    left: 0;
    width: 100%;
  }
}

@media only screen and (min-width: $responsiveWidthMobile) {
  .flexy-filter {
    flex-direction: row;
    align-items: stretch;
    div:nth-child(3){
      text-align: right;
    }
  }
  .dropdown {
    left: 10px;
    width: 200px;
  }
}

section {
  position: relative;
  border: 1px solid $filterBorderColor;
  padding: 20px;
}

.flexy-filter {
  display: flex;
  margin: 20px 0;
  div:nth-child(-n+2){
    flex-grow: 1;
    span {
      display: inline-block;
      text-transform: uppercase;
      padding: 10px;
      width: 100px;
      background-color: $filterBackgroundColor;
      color: $filterColor;
      border-bottom: 3px solid $filterBorderColor;
      cursor: pointer;
      &:after {
        float: right;
        text-transform: lowercase;
        content: "v";
      }
    }
  }
  div:nth-child(3){
    flex-grow: 8;
    input[type="text"] {
      padding: 8px;
      border: 1px solid $filterBorderColor;
    }
    a {
      text-transform: uppercase;
      color: DodgerBlue;
    }
  }
}

.dropdown {
  box-sizing: border-box;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 90px;
  max-height: 180px;
  overflow-y: auto;
  border: 1px solid $filterBorderColor;
  background-color: white;
  z-index: 1000;
  li {
    padding: 10px;
    border-bottom: 1px solid $filterBorderColor;
    input[type="checkbox"]{
      margin: 0 10px;
    }
  }
}
